.Login-container {
  flex: 1;
  display: flex;
  justify-content: center; /* Center the login form vertically and horizontally */
  align-items: center; /* Center the login form vertically */
  position: relative; /* Make sure the background image is positioned correctly */
}

.login {
  background-color: #fff; /* Use your preferred background color */
  padding: 20px; /* Inner padding for the form */
  border-radius: 10px;
  max-width: 400px; /* Adjusted for better readability */
  width: 100%; /* Ensure it is responsive */
  margin-top: 10%;
}

.form {
  background-color: #fff; /* Use your preferred form background color */
  padding: 30px; /* Reduced padding for better balance */
  border-radius: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.form span {
  display: block;
  font-size: 24px;
  color: #17153b;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  width: 100%;
  padding: 12px; /* Slightly increased padding for better touch targets */
  margin: 10px 0px; /* Adjusted margin for vertical spacing */
  background-color: #e8e6e6;
  color: #17153b;
  border: 1px solid #17153b;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding is included in the total width */
}

.form-control:focus {
  outline: none;
  border-color: #433d8b;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-toggle img {
  width: 20px; /* Fix the size of the toggle icon */
  height: 20px;
}

.error {
  color: red;
  font-size: 14px;
  margin: 5px 0; /* Add margin for spacing */
}

button {
  background-color: #c8acd6;
  color: #17153b;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
button:hover {
  background-color: #17153b;
  color: #fff;
}

.btn-primary {
  margin-top: 10px; /* Add margin above the button */
  display: flex;
  margin: 20px 37%;
}
button:active {
  background-color: #292d54;
  transform: scale(0.98);
}

@keyframes pulsateOpacity {
  0% {
    filter: brightness(0.4);
  }
  50% {
    filter: brightness(0.7);
  }
  100% {
    filter: brightness(0.4);
  }
}

.bg {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: #17153b;
  top: 0;
  left: 0;
  animation: pulsateOpacity 10s ease-in-out infinite; /* Adjust duration if needed */
  z-index: -1; /* Ensure the background stays behind the login form */
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #17153b;
  margin: 20px 0;
}
